<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
</head>
<body>
    <h6>Weekly report on your skill collections:</h6>
    <ul>
    <% views.map(view =>{ %>
       <li> collection <%= view.title %> has <%= view.count %> view<% `${view.count > 1?"s":""}`%></li> 
    <% }) %>
    </ul>
</body>
</html>