<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>
<body>
    <p>click <a href="<%= link %>" >here</a> to continue your password reset </p>
    <footer> kindly ignore this email if you didn't request a password reset</footer>
</body>
</html>